<div class="map_link"><a route="horse/stallion">Stallions</a></div>
<div class="map_link"><a route="horse/mare">Mares</a></div>
<div class="map_link"><a route="horse/colt">Colts</a></div>
<div class="map_link"><a route="horse/fillie">Fillies</a></div>