<ul class="menu_bar">
  <li class="category"><a class="menu_link" route="/about_arabians">About</span></a>
  <li class="category">
    <a class='menu_link' route="/horse">Horses</a>
    <ul class="dropdown">
      <li><a route="/horse/stallion">Stallions</a></li>
      <li><a route="/horse/mare">Mares</a></li>
      <li><a route="/horse/colt">Colts</a></li>
      <li><a route="/horse/fillie">Fillies</a></li>
      <li><a route="/for_sale">For Sale/Loan</a></li>
    </ul>
  </li>
  <li class="category"><a class="menu_link" route="/services">Services</span></a>
  <li class="category"><a class="menu_link" route="/galleries_arabians">Galleries</span></a>
  <li class="category"><a class="menu_link" route="/contact_arabians">Contact</span></a>
</ul>