/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* ----- GLOBAL ----- */

a {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ----- MAIN THEMES ----- */

div.frame {
  width: 900px;
  height: 600px;
  padding: 0;
  border: 1px solid black;
  margin: auto;
}

div#header {
  height: 50px;
}

div#content {
  height: 500px;
  clear: both;
}

div#footer {
  height: 50px;
}

/* ----- MENU BAR ----- */

ul.menu_bar li {
  float: left;
  padding: 0 20px;
  background: rgba(0,0,0,0.2)
}

ul.dropdown {
  position: absolute;
  padding: 0;
  margin-left: -20px;
  background: rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  display: none;
}

ul.dropdown li {
  background: none;
  border: none;
  clear: both;
}